
.loading {
  content: '';
  width: 100px;
  height: 100px;
  margin: 0 auto;
  display: block;
  background-repeat: no-repeat;
  border: 20px solid transparent;
  background-image: url('../../../public/images/loading.gif');
  box-sizing: content-box;
}
