@import '../../styles/variables/colors';
@import '../../styles/variables/resource';

.li {
  display: inline-block;
  margin: 0 4px;

  span {
    width: 18px;
    height: 18px;
    display: inline-block;
    position: relative;
    border-radius: 4px;
    margin: 0 2px -4px;
    box-shadow: inset 1px 1px 3px rgba(0, 0, 0, .1);

    &:active {
      box-shadow: inset 1px 1px 3px rgba(0, 0, 0, .4);

      i {
        color: rgba(250, 250, 250, .3);
      }
    }

    i {
      position: absolute;
      top: 3px;
      left: 3px;
      font-size: 13px;
      color: #fff;

      &.UnSelected {
        display: none;
      }
    }
  }
}
